Skeleton-2.0.4/
Skeleton.css

/images/new_icons
/styles/old-classes
/styles/unusable
/js/unusable
/node_modules
/drafts


Paymentscheme.md
dom-complete.txt
test.html
aboutUs.html
brands.html
cat.html
contact-us.html
delivery.html
index_test.html
menu-toggle.html
opt.html
order.html
sidebar.html
specials.html