.about-page {
    padding: 60px 20px;
}

.about-page h1 {
    font-size: 36px;
    margin: 15px 0;
    color: #2C3E50;
}

.about-page__section {
    margin: 15px 0;
}

.about-page__section h2 {
    font-size: 24px;
    color: #1A5276;
    margin: 15px 0;
}

.about-page__section p,
.about-page__section li {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

.feedback-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 90%;
    max-width: 1000px;
}


.feedback-popup__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-popup__close:hover svg {
    stroke: #1A5276;
    /* Цвет при наведении */
}