* {
    text-decoration: none;
    list-style: none;
}

ul {
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: #000;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 0 15px; */
    width: 100%;
}

.row {
    display: flex;
    height: 100%
}

.main {
    
    flex: 1 1 0;
    display: flex;
    /* Растягивается на всю доступную высоту */
    /* padding: 30px 15px; */
    background-color: #f8f9fa;
}

.page {
    flex: 1 1 0;
    /* Занимает оставшееся пространство */
    background-color: #ffffff;
    border: 1px solid #1e90ff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}