html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar
}

*,::after,::before {
    box-sizing: inherit
}

.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto
}

.w-100 {
    width: 100%
}

.border-bottom {
    border-bottom: 1px solid #00000026
}

.custom-hidden {
    display: none;
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

html {
    height: 100%;
    font-size: 62.5%
}

body {
    min-height: 100%;
    color: #232323;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000;
    overflow-y: scroll
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

sup {
    line-height: 0
}

a {
    text-decoration: none;
    color: #2e3539;
    text-decoration-skip-ink: none
}

a:hover {
    text-decoration: none
}

img {
    border: none;
    display: block;
    max-width: 100%
}

img[data-lazy] {
    opacity: 0
}

input,textarea,select,button,a{
    vertical-align: middle;
    border: none;
    /* font: ; */
}

button * {
    position: relative
}

form,fieldset {
    border-style: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

#main {
    min-width: 320px;
    position: relative;
    z-index: 100;
    min-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.8rem
}

@media (max-width: 991px) {
    #main {
    }
}

h1 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 3rem
}

.text-left {
    text-align: left
}

h2,.h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 0 2.7rem
}

h3,.h3 {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 2.7rem
}

h4,.h4 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 2.7rem
}

p {
    margin: 0 0 2rem
}

ul {
    list-style: url("");
    margin: 0 0 2rem 16px
}

ul.two-levels {
    list-style: url("");
    margin-left: 32px
}

ul.two-levels ul {
    list-style: disc
}

.pagination {
    display: flex;
    text-align: center;
    justify-content: center
}

.pagination li {
    padding-right: 20px
}

ol {
    margin: 0 0 3.4rem;
    counter-reset: section;
    list-style-type: none
}

ol li::before {
    counter-increment: section;
    content: counters(section,".") " "
}



.pagination {
    display: flex;
    text-align: center;
    justify-content: center
}

.pagination li {
    padding-right: 20px
}

ol {
    margin: 0 0 3.4rem;
    counter-reset: section;
    list-style-type: none
}

ol li::before {
    counter-increment: section;
    content: counters(section,".") " "
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

.row-mg-5 {
    margin-right: -0.5rem;
    margin-left: -0.5rem
}

.row-mg-5 > [class*=col-] {
    padding-left: .5rem;
    padding-right: .5rem
}

.img-main {
    margin: 0 0 3.7rem
}

.img-main img {
    border: 0.8rem solid #ededed
}

.mb {
    margin-bottom: 35px
}

.mb-1 {
    margin-bottom: 20px
}

.mb-2 {
    margin-bottom: 15px
}
.user-bar {
    font-weight: bold;
    background-color: #FFE868;
    padding: 6px 0;
    overflow: hidden;
    line-height: 1.2
}

#p-ng-action .popup-box {
    padding: 0
}

.ng-action img {
    width: 100%;
    object-fit: cover
}

@media (min-width: 991px) {
    .ng-action img {
        height:70px
    }
}

@media (max-width: 991px) {
}


.section {
    padding: 5rem 0;
    position: relative
}

.section-title {
    text-align: center;
    margin: 0 0 3.5rem
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

.imgBox {
    -webkit-background-size: cover !important;
    background-size: cover !important
}

a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}



.gradient {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#d6002d), to(#ff4a64));
    background: -webkit-linear-gradient(#d6002d 0%, #ff4a64 100%);
    background: -o-linear-gradient(#d6002d 0%, #ff4a64 100%);
    background: linear-gradient(#d6002d 0%, #ff4a64 100%)
}

.gradient1 {
    background: #000;
    background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(50%, rgba(0, 0, 0, 0.1)), to(transparent));
    background: -webkit-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.1) 50%, transparent 100%);
    background: -o-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.1) 50%, transparent 100%);
    background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.1) 50%, transparent 100%)
}

INPUT[type=submit],
BUTTON {
    cursor: pointer
}
