.breadcrumb {
    list-style: none;
    margin: 0 0 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2rem 0 0
}

.breadcrumb li {
    padding: 0 1.8rem 0 0;
    margin: 0 1.3rem 0 0;
    position: relative;
    font-size: 1.6rem;
    color: #187abc;
    font-weight: 500;
    line-height: 1.4
}

.breadcrumb li::before {
    position: absolute;
    top: 0.6rem;
    right: 0;
    display: block;
    content: '\e900';
    font-family: 'icomoon';
    font-size: 0.8rem;
    color: #b0b0b0
}

.breadcrumb li:last-child {
    padding-right: 0;
    margin-right: 0
}

.breadcrumb li:last-child::before {
    display: none
}

.breadcrumb li:first-child::before {
    content: none;
    display: none
}

.breadcrumb li:first-child {
    margin: 0;
    padding: 0
}

.breadcrumb li a {
    color: #6e6e6e;
    text-decoration: none
}

.breadcrumb li a:hover {
    color: #187abc
}
