.cards {
  display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    flex: 1 1 20%; /* grow shrink basis */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: calc(20% - 20px); /* 20% минус gap */
}

.card-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.card-image img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.card-btn{
        margin: 10px 0;
}