.features {
    padding: 80px 0;
}

.features__title {
    font-size: 36px;
    text-align: center;
    color: #2C3E50;
    margin-bottom: 50px;
}

.features__row-title {
    font-size: 24px;
    color: #2C3E50;
    margin-top: 40px;
    margin-bottom: 20px;
}

.features__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.feature-badge {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 20px;
    background: #F8FCFE;
    border: 1px solid #E1F5FE;
    border-radius: 12px;
}

.feature-badge__icon {
    width: 50px;
    height: 50px;
    background: #A7E7FE;
    border-radius: 8px;
    margin-right: 15px;
}

.feature-badge__benefit {
    display: block;
    font-size: 18px;
    color: #2C3E50;
}

.feature-badge__desc {
    font-size: 14px;
    color: #555;
}

.icon_delivery {
    background: url('/images/icons/icon_delivery.svg') no-repeat center / 100% 100%;
}

.icon_regions {
    background: url('/images/icons/icon_regions.svg') no-repeat center / 100% 100%;
}

.icon_cars {
    background: url('/images/icons/icon_cars.svg') no-repeat center / 100% 100%;
}

.icon_dialog {
    background: url('/images/icons/icon_dialog.svg') no-repeat center / 100% 100%;
}

.icon_service {
    background: url('/images/icons/icon_service.svg') no-repeat center / 100% 100%;
}

.icon_pro {
    background: url('/images/icons/icon_pro.svg') no-repeat center / 100% 100%;
}


@media (max-width: 768px) {
    .feature-badge {
        overflow: hidden;
    }
}