.footer {
    background: #2C3E50;
    color: #FFF;
    padding: 40px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-around;
}

.footer__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 0 20px;
    gap: 10px;
}

.footer__col a {
    color: #A7E7FE;
}

.footer__col p {
    text-align: center;
}

.footer__col a:hover {
    color: #FFF;
}

.footer__logo {
    width: 100%;
    /* На всю ширину колонки */
    max-width: 200px;
    /* Ограничение, если нужно */
    height: 70px;
    background: url('/images/logo.svg') no-repeat left center;
    background-size: contain;
    margin-bottom: 15px;
}

.footer__badges {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.footer__badge {
    width: 60px;
    height: 40px;


    border-radius: 4px;
}