.footer {
    font-size: 1.4rem;
    font-weight: 300;
    color: #000;
    line-height: 22px
}

.footer ul {
    list-style: none;
    margin-left: 0
}

.footer a {
    text-decoration: none;
    color: #000
}

.footer-bottom a {
    text-decoration: underline
}

.footer-logo {
    max-width: 150px;
}

.footer-top {
    color: #000;
    padding: 5rem 0 2rem;
    margin-bottom: 2rem
}

.footer-top address {
    font-style: normal
}

.footer ul {
    list-style: none
}

.footer-phone {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: .75rem
}

.footer-title,
a.footer-title {
    font-weight: 600;
    color: #187ABC;
    text-transform: uppercase;
    line-height: 26px
}

.footer-box {
    width: 96%;
    max-width: 120rem;
    margin: 0 auto
}

.footer-social {
    gap: 5px;
    flex-wrap: wrap
}

.footer-social div {
    white-space: nowrap;
    line-height: 1
}

.footer-social a {
    height:30px;
    width: 30px;
    padding: 3px;
    background: #187abc;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    line-height: 28px;
    text-align: center
}

.footer-social a i {
    display: inline-block;
    vertical-align: middle
}

.footer-social a:hover {
    background: #19b9e6
}