.js-tabs-header a {
    display: inline-block;
    color: #232323;
    text-decoration: none;
    border-bottom: 0.2rem solid #3690cc;
    padding: 10px 3.5rem 1.4rem;
    font-weight: 700;
    white-space: nowrap
}
