#header {
    position: relative;
    padding: 0 1rem;
    border-bottom: 0.1rem solid #dbdbdb
}

.header-box {
    max-width: 120rem;
    margin: 0 auto
}

.header-top {
    position: relative;
    padding: 5rem 28rem 3rem 30rem
}

.logo {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 24rem
}

.header-slogan {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 1.5rem
}

.header-data {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    Justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    margin: 0 -2.5rem 2.4rem
}

.header-data > li {
    padding: 0 2.5rem;
    line-height: 1
}

.header-location {
    font-size: 1.6rem;
    color: #474747
}

.header-location a {
    color: #49545c
}

.open-location {
    display: none
}

.header-fav {
    font-size: 1.25em;
    text-decoration: none;
    line-height: 1;
    color: #c8c8c8
}

.header-fav:hover {
    color: #888
}

.header-fav.active {
    color: #19B9E6
}

.header-fav.active i:before {
    content: "\e909"
}

.header-fav.active:hover {
    color: #19b9e6
}

.header-basket {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #464646;
    font-size: 1.6rem;
    position: relative;
    padding: 0 2.5rem 0 0
}

.header-basket .price {
    font-size: 1.7rem;
    color: #000
}

.header-basket .price span {
    font-size: 1.5rem
}

.header-basket i {
    line-height: 1;
    font-size: 2.6rem;
    color: #b7b7b7;
    margin: 0 1.5rem 0 0
}

.header-basket .number {
    position: absolute;
        bottom: -5;

    right: 10px;
    height: 15px;
    min-width: 2rem;
    text-align: center;
    padding: 0.3rem 0.3rem;
    line-height: 1rem;
    font-size: 1rem;
    color: #fffefe;
    font-weight: 700;
    background: #19b9e6;
    border-radius: 50%;
    margin: 0 0 0 1rem
}

.form-header-search {
    position: relative
}

.form-header-search input {
    display: block;
    height: 4rem;
    width: 100%;
    border: 0.1rem solid #c5c5c5;
    border-radius: 0.6rem;
    padding: 0 7rem 0 2rem;
    font-size: 1.6rem;
    color: #7d7d7d
}

.form-header-search button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 6rem;
    background: none;
    border: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #a8a8a8
}

.form-header-search button:hover {
    color: #19b9e6
}

.js-search {
    position: relative
}

.ajax-search-container {
    width: 100%;
    background: #fff;
    z-index: 400000;
    position: absolute;
    border: 1px solid #E5E5E5;
    display: none;
    box-sizing: border-box
}

.ajax-search-item {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border-bottom: 1px solid #eee;
    text-decoration: none !important;
    cursor: pointer;
    z-index: 100
}

.ajax-search-item:hover {
    background: #fcfbf9
}

.ajax-search-item:last-child {
}

.ajax-search-image {
    width: 40px;
    height: 40px;
    margin-right: 5px
}

.ajax-search-title {
    text-decoration: none !important
}

.ajax-search-top {
    font-size: 14px;
    padding: 8px 10px;
    display: block;
    color: #7F7F7F;
    border-bottom: 1px solid #eee;
    text-align: center
}

.ajax-search-more {
    font-size: 14px;
    padding: 8px 10px;
    display: block;
    color: #7F7F7F;
    text-align: center;
    text-decoration: none
}

.ajax-loader {
    padding: 15px;
    text-align: center;
    background: url("") no-repeat center center;
    background-size: contain
}

.btn-loading:before {
    content: '';
    background: url("") no-repeat center center;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle
}

.ajax-loader>div {
    background-color: #dc3d40 !important
}

.header-content {
    position: relative;
    padding: 3rem 0 0
}

.header-contact {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 22rem;
    text-align: right
}

.header-phone {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.45
}

.header-phone a {
    color: #232323;
    text-decoration: none;
    white-space: nowrap
}

.header-time {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    Justify-content: flex-end;
    font-size: 1.7rem;
    color: #3a3a3a;
    margin: 0 0 0.8rem
}

.header-time i {
    margin: 0 1rem 0 0;
    color: #9d9d9d;
    font-size: 1.9rem
}