.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

/* Корзина */
.cart-wrapper {
    display: flex;
    justify-content: flex-end;
}

.cart-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.3s;
}

.cart-link:hover {
    background: #f0f8ff;
    color: #1e90ff;
}

.cart-icon {
    font-size: 20px;
    width: 25px;
    height: 25px;
    background: url(/images/icons/shopping_cart.svg) no-repeat;
    background-size: 100% 100%;
}

.cart-text {
    font-size: 14px;
    font-weight: 600;
}

.cart-count {
    background: #e41b2c;
    margin-left: -20px;
    margin-bottom: -20px;
    color: white;
    font-size: 9px;
    font-weight: bold;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Контакты в шапке */
.contacts-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.phone-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s;
    gap: 10px;
}

.phone-icon {
    width: 25px;
    height: 25px;
    background: url(/images/icons/phone-icon.svg) no-repeat;
    background-size: cover;
}

.phone-link:hover {
    color: #1e90ff;
}

.tg-link {
    display: block;
    background: url('/images/icons/telegram_v2.svg') no-repeat;
    background-size: 100%;
    height: 25px;
    width: 25px;
    gap: 10px;

    text-decoration: none;
}

.whatsapp-link{
 background: url(../images/icons/whatsapp.svg) no-repeat;
 background-size: 100%;
 width: 25px;
 height: 25px;
}

.tg-link img {

    height: 100%;
}

.tg-link:hover {
    /* background: #1c86ee; */
}

.tg-icon {
    font-size: 16px;
}

/* Адаптивность для шапки */

@media (max-width: 768px) {
    .contacts-header {
        display: none;
    }

    .cart-text {
        display: none   ;
    }
}

/* @media (max-width: 768px) {
    .header-right {
        display: none;}
        /* Или упрощённая версия */

/* Альтернатива для мобилок: только иконки */
/* .header-mobile-contacts {
    display: flex;
    gap: 10px;
    order: 3;
} */