.sertificate {
    position: relative;
}

.sertificate__background {
    width: 100%;
    border-radius: 32px;
}

.sertificate__content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    color: #fff;
}

.sertificate__content h1 {
    font-size: 2em;
}

.sertificate__content h2 {
    font-size: 1.5em;
    font-weight: 400;
}

.sertificate__content h3 {
    font-size: 1.5em;
    font-weight: 400;
}

.intro .card {
    
    width: 47%;
    
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:200px;
}

.intro .card__icon {
    width: 30px;
    height: 30px;
}

.intro .card__icon_idea {
    background: url(../images/icons/lets-icons_lamp-light.svg) no-repeat 100% 100%;
}

.intro .card__icon_problem {
    background: url(../images/icons/la_sad-cry.svg) no-repeat 100% 100%;
}

.intro .card__head {
    display: flex;
    justify-content: center;
}

.intro .card__title {
    margin: 0 10px;
}

.intro .card p {
    margin: 15px 0 0;
    font-size: 1em;
    width: 60%;
}

@media (max-width: 570px) {
    .sertificate__background {
        border-radius: 15px;
    }

    .sertificate__content h1 {
        font-size: 2em;
        margin: 0.6em auto;
    }

    .sertificate__content h2 {
        font-size: 1em;
        font-weight: 400;
        margin: 0.6em auto;
    }

    .sertificate__content h3 {
        font-size: 1.5em;
        font-weight: 400;
        margin: 0.9em auto;
    }

    .intro .card {
        border-radius: 20px;
        padding: 20px 0;
        height:100px;

    }

    .intro .card p {
        height: 40px;
        font-size: 0.8em;
        width: 80%;
    }
}