.jq-checkbox,.jq-radio,.jq-select-multiple li,.jq-selectbox li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}


.jq-checkbox,.jq-file,.jq-number,.jq-radio {
    display: inline-block
}


.jq-checkbox,.jq-radio {
    position: relative;
    overflow: hidden;
    user-select: none
}

.jq-checkbox input,.jq-radio input {
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    opacity: 0
}

.jq-file {
    position: relative;
    overflow: hidden
}

.jq-file input {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    margin: 0;
    padding: 0;
    opacity: 0;
    font-size: 100px;
    line-height: 1em
}

.jq-file__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.jq-select-multiple,.jq-selectbox {
    position: relative;
    display: inline-block
}

.jq-select-multiple select,.jq-selectbox select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0
}

.jq-select-multiple li,.jq-selectbox li {
    user-select: none;
    white-space: nowrap
}

.jq-selectbox__select-text,.noUi-target,.noUi-target * {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none
}

.jq-selectbox {
    z-index: 10
}

.jq-selectbox__select {
    position: relative
}

.jq-selectbox__select-text {
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis
}

.card-table-data .jq-selectbox__select-text {
    max-width: 180px
}

.jq-selectbox__dropdown {
    position: absolute
}

.jq-selectbox__search input {
    -webkit-appearance: textfield
}

.jq-selectbox__search input::-webkit-search-cancel-button,.jq-selectbox__search input::-webkit-search-decoration {
    -webkit-appearance: none
}

.jq-selectbox__dropdown ul {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    list-style: none;
    -webkit-overflow-scrolling: touch
}

.jq-select-multiple ul {
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

.jq-number__field input {
    -moz-appearance: textfield;
    text-align: left
}

.noUi-tooltip,.noUi-value {
    text-align: center;
    white-space: nowrap
}

.jq-number__field input::-webkit-inner-spin-button,.jq-number__field input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none
}

.jq-selectbox {
    display: block;
    margin: 0 0 2.2rem;
    z-index: 101
}

.jq-selectbox.disabled .jq-selectbox__trigger {
    background: #cdcdcd;
    color: #fff
}

.jq-selectbox:hover .jq-selectbox__trigger,.jq-selectbox.opened .jq-selectbox__trigger {
    color: #187abc
}

.jq-selectbox.select-small {
    margin: 0 0 1.4rem
}

.jq-selectbox.select-small .jq-selectbox__select {
    height: 3.4rem;
    border-width: 0.1rem;
    font-size: 1.4rem;
    line-height: 3.2rem
}

.jq-selectbox.select-small .jq-selectbox__trigger::before {
    font-size: 0.8rem
}

.jq-selectbox.select-small .jq-selectbox__dropdown {
    border-width: 0.1rem
}

.jq-selectbox.select-small .jq-selectbox__dropdown ul li {
    font-size: 1.4rem;
    padding-left: 2.5rem
}

.jq-selectbox.select-small .jq-selectbox__dropdown ul li::before {
    top: 1.4rem;
    left: 1rem
}

.jq-selectbox.select-middle {
    margin: 0 0 1.4rem
}

.jq-selectbox.select-middle .jq-selectbox__select {
    height: 3.8rem;
    font-size: 1.6rem;
    line-height: 3.4rem
}

.jq-selectbox.select-middle .jq-selectbox__trigger::before {
    font-size: 0.8rem
}

.jq-selectbox.select-middle .jq-selectbox__dropdown ul li {
    font-size: 1.6rem;
    padding-left: 2.5rem
}

.jq-selectbox.select-middle .jq-selectbox__dropdown ul li::before {
    top: 1.4rem;
    left: 1rem
}

.jq-selectbox__select {
    display: block;
    width: 100%;
    height: 4.9rem;
    border: 0.2rem solid #cdcdcd;
    border-radius: 1rem;
    padding: 0 4.5rem 0 1.5rem;
    font-size: 1.9rem;
    line-height: 4.7rem;
    background: #fff
}

.jq-selectbox__trigger {
    position: absolute;
    top: -0.2rem;
    right: -0.2rem;
    bottom: -0.2rem;
    width: 4.2rem;
    border-radius: 0 1rem 1rem 0;
    color: #b5b5b5;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 5
}

.jq-selectbox__trigger::before {
    display: display-block;
    font-family: 'icomoon';
    content: '\e900';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(90deg);
    -ms-transform: translate(-50%,-50%) rotate(90deg);
    -o-transform: translate(-50%,-50%) rotate(90deg);
    transform: translate(-50%,-50%) rotate(90deg);
    z-index: 1
}

.jq-selectbox__dropdown {
    background: #fff;
    border: 0.2rem solid #cdcdcd;
    margin: 0.5rem 0;
    -webkit-box-shadow: 0 0.2rem 0.5rem 0 rgba(100,100,100,0.3);
    box-shadow: 0 0.2rem 0.5rem 0 rgba(100,100,100,0.3);
    border-radius: 1rem
}

.jq-selectbox__dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto
}

.jq-selectbox__dropdown ul li {
    position: relative;
    padding: 0.7rem 1rem 0.7rem 3rem;
    line-height: 1.4;
    border-top: 1px solid #e3dcd0;
    font-size: 1.9rem;
    color: #101010;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.jq-selectbox__dropdown ul li:first-child {
    border-top: 0
}

.jq-selectbox__dropdown ul li::before {
    display: block;
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    background: #959595;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    top: 1.6rem;
    left: 1.4rem;
    border-radius: 50%
}

.jq-selectbox__dropdown ul li:hover,.jq-selectbox__dropdown ul li.sel {
    color: #187abc
}

.jq-selectbox__dropdown ul li:hover::before,.jq-selectbox__dropdown ul li.sel::before {
    background: #187abc
}

.br-wrapper select,.br-wrapper .jq-selectbox {
    display: none
}

.br-widget {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.5rem
}

.br-widget a {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background: url("") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 1rem 0 0
}

.br-widget a.br-selected,.br-widget a.br-current,.br-widget a.br-active {
    background: url("")
}

.br-widget .br-current-rating {
    font-size: 1.6rem;
    font-style: italic;
    color: #ec9b00;
    font-weight: 500
}