.menu {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    Justify-content: space-between
}

.menu > li {
    padding: 0 0 2.4rem 1.5rem;
    position: relative;
    line-height: 1.2;
    text-align: center; 
    margin: 0 1.5rem 0 0
}

.menu > li:last-child {
    margin-right: 0
}

.menu > li::before {
    display: block;
    content: '';
    height: 0.6rem;
    width: 0.6rem;
    background: #187abc;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 0
}

.menu > li > a {
    font-size: 2rem;
    color: #000;
    text-decoration: none
}

.menu > li > a:hover,.menu > li > a.active {
    color: #187abc
}

.menu > li:hover .menu-drop {
    opacity: 1;
    height: auto;
    overflow: visible
}

.menu-drop {
    position: absolute;
    top: 100%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000
}

.menu-drop-box {
    width: 106.4rem;
    border: 0.2rem solid #355130b0;
    border-radius: 1rem;
    background: #fff;
    text-align: left;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4rem 0
}

.menu-drop-box::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 3rem;
    background: #123ea5;
    border-radius: 50%;
    position: absolute;
    top: -1.5rem;
    z-index: -1
}

.menu-drop-left {
    width: 36%;
    padding: 0 4.5rem
}

.menu-drop-right {
    width: 64%;
    border-left: 0.2rem solid #187abc;
    padding: 0 4.5rem
}

.back-catalog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #187abc;
    text-transform: uppercase;
    height: 4rem;
    padding: 0 1rem;
    color: #fff;
    background: #187abc
}

.back-catalog i {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    font-size: 1.4rem;
    margin: 0 0.5rem 0 0
}

.menu-catalog {
    list-style: none;
    margin: 0
}

.menu-catalog li {
    line-height: 1.4;
    padding: 0 0 3rem
}

.menu-catalog li a {
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    color: #232323;
    text-decoration: none;
    position: relative;
    padding: 0 1.5rem 0 0
}
/* 
.menu-catalog li a::before {
    display: block;
    font-family: ;
    content: '\e900';
    position: absolute;
    top: 0.3rem;
    right: 0;
    font-size: 1rem;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 0
} */

.menu-catalog li a:hover,.menu-catalog li a.active {
    color: #187abc
}

.menu-catalog li a:hover::before,.menu-catalog li a.active::before {
    opacity: 1
}

.menu-catalog-sub {
    list-style: none;
    margin: 0
}

.menu-catalog-sub li {
    line-height: 1.4;
    position: relative;
    padding: 0 0 1.1rem 2.5rem
}

.menu-catalog-sub li:last-child {
    padding-bottom: 0
}

.menu-catalog-sub li a {
    font-size: 1.7rem;
    text-decoration: none;
    color: #232323
}

/* .menu-catalog-sub li a::before {
    display: block;
    font-family: ;
    content: '\e900';
    position: absolute;
    top: 0.5rem;
    left: 0;
    font-size: 1rem;
    color: #bdbdbd;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
} */

.menu-catalog-sub li a:hover {
    color: #187abc
}

.menu-catalog-sub li a:hover::before {
    color: #187abc
}

.menu-catalog-tab-box {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    height: 0;
    overflow: hidden
}

.menu-catalog-tab-box.active {
    opacity: 1;
    height: auto
}

@media (max-width: 991px) {
    .menu-catalog-tab-box.active .col-lg-6 {
        padding-top:1.1rem
    }
}