.products {
    padding: 80px 0;
}

.products__title {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
    color: #2C3E50;
}

.products__list {
    display: flex;
    justify-content: space-around;
}


.product-card {
    width: 45%;
    height: 300px;
    background: #F8FCFE;
    border: 1px solid #E1F5FE;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #2C3E50;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.product-card h3 {
    font-size: 22px;
    color: #2C3E50;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    font-weight: 400;
}

.product-card__image {
    width: 80%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}