.box-wireframes .wireframe{
    position: absolute;
    height: 33%;
    width: 26%;
    
}
.box-wireframes .wireframe_product-page{
    top: 20%;
    left: 38%;
}
.box-wireframes .wireframe_cart{
    top: 10%;
    left: 74%;
}
.box-wireframes .wireframe_payment{
    top: 50%;
    left: 8%;
}
.box-wireframes .wireframe_success{
    top: 60%;
    left: 70%;
}
.box-wireframes .wireframe__head{
    text-align: left;
    padding-left: 7%;
    padding-bottom: 2%;
    font-size: 1.3em;
    font-weight: 600;
}
.box-wireframes .wireframe__body{
    height: 80%;
    border-radius: 4%/6.6%;
}
@media (max-width: 570px) {
    .box-wireframes .wireframe__head{
        font-size: 1.1em;
        border-radius: 3%/5%;
    }
}