.comments__frame{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.comments__row{
    display: flex;
    
}
.comment{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 66%;
    border-radius: 10px;
    padding: 20px 0 20px 20px;
    margin: 10px;
}
.comments__row:nth-child(1){
    justify-content: start;
}
.comments__row:nth-child(2){
    justify-content: center;
}
.comments__row:nth-child(3){
    justify-content: end;
}

.comment__user {
    margin: 0;
    font-weight: 500;
}
.comment__body {
    margin: 0;
    font-size: 1em;
}

.main-journey{
    background-color: #272B35;
}

@media (max-width: 570px){
    .comment{
        padding: 10px;
    margin: 5px;
    }
}